
.single-product-wrapper .product-img .product-badge {
    min-width: 4em;
}

.page-item.active-page .page-link{
    color: #007bff !important;
    background: #bababa21 !important;
}

.cart-page-heading img {
    width: 21em;
    height: 21em;
    object-fit: cover;
    border-radius: 50%;
}
.submit-btn {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.select-box > .nice-select {
    display: none !important;
}
.selectColor {
    display: block !important;
    /* position: relative; */
    z-index: 100;
    border: 1px solid #ebebeb;
    border-radius: 0;
    /* font-size: 14px; */
    /* font-weight: 500; */
    height: 60px;
    line-height: 60;
    margin: 0;
    /* text-transform: uppercase; */
    width: 220px;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #787878;
    /* margin-bottom: 10px; */
    /* display: block; */
}
.selectColor>option{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: rgb(247, 247, 247);
    background-image: none;
    font-size: 18px;
    height: 50px;
    padding: 15px;
    border: 1px solid rgb(41, 18, 18);
}