
.single-product-wrapper .product-img .product-badge {
    min-width: 4em;
}

.page-item.active-page .page-link{
    color: #007bff !important;
    background: #bababa21 !important;
}

.cart-page-heading img {
    width: 21em;
    height: 21em;
    object-fit: cover;
    border-radius: 50%;
}
.submit-btn {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.select-box > .nice-select {
    display: none !important;
}
.selectColor {
    display: block !important;
    /* position: relative; */
    z-index: 100;
    border: 1px solid #ebebeb;
    border-radius: 0;
    /* font-size: 14px; */
    /* font-weight: 500; */
    height: 60px;
    line-height: 60;
    margin: 0;
    /* text-transform: uppercase; */
    width: 220px;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #787878;
    /* margin-bottom: 10px; */
    /* display: block; */
}
.selectColor>option{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    border: 1px solid rgb(41, 18, 18);
}
.right-side-cart-area {
    width: 48em !important;
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.quantity input {
    width: 3em;
    height: 2em;
    padding: 8px;
    background: #fff0;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
}
/* Chrome, Safari, Edge, Opera */
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.quantity input[type=number] {
    -moz-appearance: textfield;
}
.quantity button {
    background: #fff0;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.quantity button i{
    color: #fff;
}
.price {
    margin-top: 0.5em !important;
}
.right-side-cart-area .cart-content .cart-list {
    position: relative;
    z-index: 10;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 190px;
    flex: 0 0 190px;
    width: 190px;
    background: rgb(0 0 0 / 20%);
}
.price-block {
    display: flex;
}
.price-sale {
    margin-left: 1em;
}
.price-disable {
    color: #aaaaaa !important;
    text-decoration: line-through;
}
.single-product-wrapper .product-img img {
    width: 20em !important;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 26em;
    object-fit: cover;
}
.single_product_details_area {
    position: unset !important;
    z-index: 100;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.logout {
    color: #0009ff !important;
    cursor: pointer;
}
.logout:hover {
    color: #000 !important;
}
